.EditUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 35px;
  width: 100%;
}

.EditUser h1 {
  margin-bottom: 20px;
  margin-top: 30px;
}

.EditUser .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 10px;
  width: 70%;
}

.EditUser .form label {
  margin: 20px 0 5px 0;
}

.EditUser .form button {
  width: 30%;
  padding: 10px;
  font-weight: 700;
  margin: 20px 0 20px 0;
  border: none;
  border-radius: 8px;
  background-color: #2e4562;
  color: #fff;
}

input,
textarea,
select {
  border: 1px solid #2e4562;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  color: #2e4562;
  font-weight: 700;
  width: 70%;
}
