.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 55px;
  margin: 30px 0;
}

.box h1 {
  margin-bottom: 20px;
}

.box .form-validate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 10px;
  width: 70%;
}

.box .form-validate label {
  margin: 20px 0 5px 0;
}

input,
textarea,
select {
  border: 1px solid #2e4562;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  color: #2e4562;
  font-weight: 700;
  width: 70%;
}

.box .verde {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  margin: 30px 0 0 0;
  padding: 10px;
  width: 70%;
  background-color: rgb(240, 240, 240);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.box .verde .data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-left: 10px;
}

.box .verde .data h2 {
  font-size: 30px;
  padding: 5px;
  color: #fff;
  background-color: #008000;
  padding: 5px 15px;
  border-radius: 8px;
  text-align: center;
}

.box .verde .data p {
  color: #008000;
}

.box .verde .data .infos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #2e4562;
}

.box .verde .data .infos p {
  color: #2e4562;
  padding-bottom: 5px;
}

.box .verde .data .infos p {
  margin-right: 20px;
  padding-bottom: 5px;
}

.box .verde .data .name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.box .verde .data .name p {
  font-size: 20px;
  color: #2e4562;
  padding-bottom: 5px;
}

.box .form-validate .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.box .form-validate .buttons button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: #2e4562;
  width: 200px;
  height: 60px;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 10px;
  font-size: 16px;
}

.box .form-validate .buttons button svg {
  margin-right: 10px;
}

.box .vermelho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  margin: 30px 0 0 0;
  padding: 10px;
  width: 70%;
  background-color: rgb(240, 240, 240);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.box .vermelho .data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.box .vermelho .data h2 {
  font-size: 30px;
  padding: 5px;
  color: #fff;
  background-color: #8b0000;
  text-decoration: line-through;
  padding: 5px 15px;
  margin-bottom: 5px;
  border-radius: 8px;
  text-align: center;
}

.box .vermelho .data p {
  color: #8b0000;
  padding-bottom: 5px;
}

.box .vermelho .data .infos {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  color: #2e4562;
}

.box .vermelho .data .infos p {
  color: #2e4562;
  padding-bottom: 5px;
}

.box .vermelho .data .infos p {
  margin-right: 20px;
  padding-bottom: 5px;
}

.box .vermelho .data .name {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.box .vermelho .data .name p {
  font-size: 20px;
  color: #2e4562;
  padding-bottom: 5px;
}

@media (max-width: 900px) {
  .box .form-validate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .box .verde {
    width: 100%;
  }
  .box .vermelho {
    width: 100%;
  }

  @media (max-width: 700px) {
    .box .vermelho {
      width: 100%;
    }
    .box .vermelho .data h2 {
      font-size: 25px;
    }

    @media (max-width: 550px) {
      .box .form-validate .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .box .form-validate {
        width: 100%;
      }
      .box .verde .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .box .verde {
        width: 100%;
      }
      .box .verde .data h2 {
        font-size: 23px;
      }
      .box .vermelho {
        width: 100%;
      }
      .box .vermelho .data h2 {
        font-size: 23px;
      }

      @media (max-width: 400px) {
        .box .verde {
          width: 100%;
        }
        .box .verde .data .infos {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          margin: 5px 0;
        }

        .box .verde .data .name p {
          font-size: 16px;
        }
        .box .verde .data h2 {
          font-size: 16px;
          padding: 5px 5px;
          margin: 5px 0;
        }

        .box .vermelho {
          width: 100%;
        }
        .box .vermelho .data .infos {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          margin: 5px 0;
        }

        .box .vermelho .data .name p {
          font-size: 16px;
        }
        .box .vermelho .data h2 {
          font-size: 16px;
          padding: 5px 5px;
          margin: 5px 0;
        }
      }
    }
  }
}
