.dashboard-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 50px;
}

.dashboard-data .data-cupons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.dashboard-data .data-cupons .cupom-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  width: 40%;
}

.dashboard-data .data-cupons .cupom-data .buttons button {
  padding: 10px;
  background-color: #2e4562;
  border: none;
  color: #fff;
  margin: 10px;
  border-radius: 8px;
}
