 .header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

 .header button {
  background-color: brown;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px;
}