.contact {
  margin: 80px 0 50px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact .map {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact .map img {
  width: 500px;
}

.contact .contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 60px;
}

.contact .contact-info img {
  width: 400px;
  margin-bottom: 50px;
}

.contact .contact-info .infos .line {
  margin-top: -10px;
  margin-left: 28px;
}

.contact .contact-info .infos p {
  font-size: 18px;
  padding: 5px 0;
  font-weight: 700;
}

.contact .contact-info .infos svg {
  margin-right: 5px;
}

@media (max-width: 1080px)
{
  .contact .map img{
    width: 350px;
  }

@media (max-width: 900px) {

  .contact {
    margin: 80px 0 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
  }
  @media (max-width: 700px)
  {
    .contact .map img{
      display: none;
    }
  
    .contact {
      margin: 80px 0 50px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 90%;
    }
    @media (max-width: 550px){
      .contact .contact-info img {
        width: 350px;
        margin-bottom: 50px;
      }

      @media (max-width: 420px) {
        .contact .contact-info img {
          width: 300px;
          margin-bottom: 50px;
          align-items: center;
        }
        .contact .contact-info {
          margin: 0 0 0 -10px;
        }
      }
    }
  }
}
}