.company {
  margin-top: -150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.company .company-texts {
  width: 320px;
  margin-top: 150px;
}

.company .company-texts .company-text-iten {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.company .company-texts .company-text-iten svg {
  margin: -80px 20px 0 0;
}

.company .company-texts .company-text-iten .iten-text p {
  margin: 5px 0 20px 0;
  font-size: 14px;
}

.company .company-texts .company-text-iten2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: right;
}

.company .company-texts .company-text-iten2 svg {
  margin: -80px 0 0 20px;
}

.company .company-texts .company-text-iten2 .iten-text p {
  margin: 5px 0 20px 0;
  font-size: 14px;
}

.company .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.company .title img {
  width: 325px;
}

.company .title .image img {
  width: 560px;
}

.company .title a {
  background-color: #2e4562;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  padding: 10px;
  border-radius: 8px;
  margin-top: 30px;
}

@media (max-width: 1080px) {
  .company .title {
    display: none;
  }

  .company .company-texts {
    width: 450px;
    padding: 0 30px;
  }

  @media (max-width: 1080px) {
    .company .company-texts {
      width: 500px;
      padding: 0 30px;
    }

    .company {
      margin-top: -10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 1px;
    }
  }

  @media (max-width: 700px) {
    .company {
      margin-top: -150px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 1px;
    }

    .company .company-texts {
      width: 400px;
      margin-top: 20px;
    }

    @media (max-width: 400px) {
      .company .company-texts {
        width: 300px;
        margin: 0 0 0 -10px;
      }
    }
  }
}
